
  canvas {
    height: 100vh;
    width: 100vw;
    background-image: url("https://inkythuatso.com/uploads/thumbnails/800/2022/05/anh-nen-hong-xinh-xan-dang-yeu-576x1024-17-14-27-22.jpg");
  }
  